@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: white;
	margin: 0;
	height: 100%;
	width: 100%;
}

img {
	margin: 0;
	height: 100%;
	width: 100%;
}

/* COLOUR ****************************************************************************************/

.white { color: #f1f1f1; }
.brown { color: #89591b; }
.grey { color: #747064; }
.lt-blue { color: #4a5257; }
.dk-blue { color: #242424; }

/* SKIP LINKS ************************************************************************************/
a:focus {
	outline: 4px solid #89591b;
}

.skip-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skip-links a {
	background-color: #242424;
	color: white;
	font-weight: bold;
	padding: 1em 1.25em;
	position: absolute;
		top: -4em;
	text-decoration: none;	
}

.skip-links a:focus {
	top: 0;
}
/* HEADER ****************************************************************************************/
header {
	margin-bottom: 0.5rem;
	background-color: #f1f1f1;
	overflow: hidden;
}

.wordmark {
	width: 200px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	width: 100%;
}

.current {
	font-style: italic;
}

.nav {
	width: 100%;
}

.nav a {
	color: #f1f1f1;
	text-decoration: none;
	width: 100%;
	padding:1.3rem;
}

.nav a:hover {
	color: #89591b;
	font-weight: bold;
	padding:1.3rem;
}

.nav li {
	padding:1.3rem;
	cursor: pointer;
	text-align: center;
}

.full-banner {
	height: 50vh;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-btn {
	margin: 0 auto;
	width: 100%;

	background-image: url(../images/banner-btn.svg);
	background-position: center;
	background-repeat: no-repeat;
}
/* MAIN ******************************************************************************************/
.h1-index {
	height: 0px;
	margin: 0;
	overflow: hidden;
	visibility: hidden;
}


.project-1 {
	background-image: url(../images/project-1-banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: block;
	height: 400px;
}

.project-2 {
	background-image: url(../images/project-2-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: block;
	height: 400px;
}

.project-3 {
	background-image: url(../images/project-3-1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


	display: block;
	height: 400px;		
}

.project-4 {
	background-image: url(../images/project-4-1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;		


	display: block;
	height: 400px;	
}

.project-5 {
	background-image: url(../images/project-5-1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	


	display: block;
	height: 400px;		
}

.project-6 {
	background-image: url(../images/project-6-1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	


	display: block;
	height: 400px;		
}	

.project-7 {
	background-image: url(../images/project-7-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;		


	display: block;
	height: 400px;	
}

.project-8 {
	background-image: url(../images/project-8-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	

	display: block;
	height: 400px;		
}

.project-9 {
	background-image: url(../images/project-9-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	

	display: block;
	height: 400px;		
}

/* FOOTER ****************************************************************************************/
footer {
	height: 12rem;
	width: 100%;
	overflow: hidden;
	padding-top: 1.5rem;
	background-color: #f1f1f1;
}

.author {
	color: #4a5257;
	text-align: center;
}

.top-btn {
	height: 25px;
	width: auto;

	background-image: url(../images/top-btn.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

.links {
	list-style: none;
	text-align: center;
}

.links a {
	color: #747064;
	text-decoration: none;
}

.links a:hover {
	color: #4a5257;;
	font-weight: bold;
}

.links a:focus {
	color: #89591b;
}

.links li:last-child {
	padding-top: 0.6500rem;
}


/* MEDIA QUERIES *********************************************************************************/
@media only screen and (min-width: 25em) {
}

@media only screen and (min-width: 38em) {
	/* HEADER *****************************************/
	.wordmark {
		width: 200px;
		margin-left: 0;
	}

	.full-banner {
		height: 100vh;
		width: 100%;
	}

	h1 {
		text-align: left;
	}

	.nav {
		display: inline-block;
	}

	.nav a {
		padding: 0;
		text-decoration: none;
		width: 100%;
	}

	.nav a:hover {
		padding: 1rem 1.3rem 0 0;
	}

	.nav li {
		padding: 1rem 1.3rem 0 0;
		float: right;
		text-align: center;
	}

	/* FOOTER *****************************************/
	footer {
		height: 5rem;
		overflow: hidden;
	}

	.author {
		text-align: left;
	}

	.links {
		float: right;
	}

	.links a {
		display: inline-block;
		float: left;
	}

	.links a:hover {
		color: #4a5257;
		font-size: 1.2148rem;
	}

	.links li:last-child {
		padding-top: 0;
		padding-right: 0.6500rem;
	}

@media only screen and (min-width: 60em) {}