@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: #f1f1f1;
	margin: 0;
	height: 100%;
	width: 100%;
}

img {
	margin: 0;
	height: 100%;
	width: 100%;
}

/* COLOUR ****************************************************************************************/

.white { color: #f1f1f1; }
.brown { color: #89591b; }
.grey { color: #747064; }
.lt-blue { color: #4a5257; }
.dk-blue { color: #242424; }

/* HEADER ****************************************************************************************/
header {
	margin-bottom: 1.5rem;
	background-color: #747064;
	overflow: hidden;
}

h1 {
	text-align: center;
	width: 100%;
}

.nav {
	width: 100%;
}

.nav a {
	color: #f1f1f1;
	text-decoration: none;
	width: 100%;
	padding:1.3rem;
}

.nav a:hover {
	color: #747064;
	padding:1.3rem;
}

.nav li {
	padding:1.3rem;
	text-align: center;
}

.nav li:hover {
	background-color: #f1f1f1;
	color: #747064;
	overflow: hidden;
}

.nav li:focus {
	background-color: #89591b;
	color: #f1f1f1;
	overflow: hidden;
}

.banner {
	background-image: url(https://placehold.it/1000x500);
	background-position: center;
	background-size: cover;
	height: 300px;
	width: 100%
	overflow: hidden;
}

/* MAIN ******************************************************************************************/

/* FOOTER ****************************************************************************************/
footer {
	height: 12rem;
	width: 100%;
	padding-top: 1.5rem;
	background-color: #747064;
}

.author {
	text-align: center;
}

.links {
	list-style: none;
	text-align: center;
}

.links a {
	text-decoration: none;
}

.links a:hover {
	color: #242424;
	font-size: 1.1385rem;
}

.links a:focus {
	color: #89591b;
}

/* MEDIA QUERIES *********************************************************************************/
@media only screen and (min-width: 25em) {
	.banner {
		height: 400px;
	}

}

@media only screen and (min-width: 38em) {
	/* HEADER *****************************************/
	header {
	}
	.full-banner {
		height: 100vh;
		width: 100%;
		background-image: url(https://placehold.it/2000x500);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	h1 {
		text-align: left;
	}

	.nav {
		display: inline-block;
	}

	.nav a {
		padding: 0;
		color: #f1f1f1;
		text-decoration: none;
		width: 100%;
	}

	.nav a:hover {
				padding: 1rem 1.3rem 0 0;
		color: #747064;
	}

	.nav li {
		padding: 1rem 1.3rem 0 0;
		float: right;
		text-align: center;
	}

	.nav li:hover {
		background-color: transparent;
		color: #747064;
		overflow: hidden;
	}

	.nav li:focus {
		background-color: transparent;
		color: #f1f1f1;
		overflow: hidden;
	}

	.banner {
		visibility: hidden;
	}

	/* FOOTER *****************************************/
	.author {
		text-align: left;
	}

	.links {
		text-align: right;
	}

	.links a {
		display: inline-block;
		float: right;
	}

	.links a:hover {
		color: #4a5257;
		font-size: 1.2148rem;
	}

	footer {
		height: 5rem;
	}

@media only screen and (min-width: 60em) {}