<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/portfolio.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{page.meta}}">
	{% include opengraph.xml %}
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body id="top">
<!-- Skip Links -->
	<ul class="skip-links">
		<li><a href="#nav">Skip to Navigation</a></li>
		<li><a href="#main">Skip to Main Content</a></li>
		<li><a href="#footer">Skip to Footer</a></li>
	</ul>

<!-- Nav & Banner -->	
	<header class="grid pad-t full-banner" style="background-image: url({{site.baseurl}}/images/{{page.banner}});">
		<a class="wordmark unit xs-1 s-1 m-1-2 l-1-2 gutter" href="{{site.baseurl}}/index.html" rel="home">
			<img src="{{site.baseurl}}/images/{{page.wordmark}}" alt="Kaylee's Wordmark">
		</a>
		<nav class="unit xs-1 s-1 m-1-2 l-1-2" id="nav" role="navigation">
			<ul class="grid nav">
				<li class="unit xs-1-2 s-1-2 m-1-4 l-1-4"><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}" rel="home">Portfolio</a></li>
				<li class="unit xs-1-2 s-1-2 m-1-4 l-1-4"><a href="{{site.baseurl}}/about" class="{% if page.url == '/about.html' %}current{% endif %}">About</a></li>
			</ul>
		</nav>
		<div class="unit xs-1 s-1 m-1 l-1 island">
			<div class="grid pad-t">
				<h1 class="unit h1-index white yotta">Hey there!</h1>
				<p class="unit xs-1 s-1 m-1-2 l-1-2 index-intro white giga">I'm Kaylee: an illustrator and graphic designer that wants to chase curiosity, learn a little about everything, and inspire and encourage a love of art and design in people of all ages.</p>
			</div>
		</div>
		<a href="#main" class="unit xs-1 s-1 m-1 l-1 banner-btn"></a>
	</header>

	{{content}}

<!-- Footer -->
	<footer class="gutter-1-2" id="footer" role="contentinfo">
		<div class="grid">
			<p class="unit xs-1 s-1 m-1-2 l-2-3 gutter-1-2 author white milli">Questions? Email hey@kayleemenard.ca</p>
			<ul class="unit xs-1 s-1 m-1-2 l-1-3 gutter-1-2 links">
				<li><a class="gutter-1-2 white micro" href="https://www.behance.net/KayleeMenard" rel="external">Behance</a></li>
				<li><a class="gutter-1-2 white micro" href="https://instagram.com/skaylesdoodles/" rel="external">Instagram</a></li>
				<li><a class="gutter-1-2 white micro" href="https://ca.linkedin.com/in/meetkayleemenard" rel="external">LinkedIn</a></li>
				<li><a href="#top" class="gutter-1-2 micro">Back to Top</a></li>
			</ul>
		</div>	
	</footer>
</body>
</html>